In [10]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('Employee_Atrition.csv')
df = df.dropna()
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
df2 = df[["Education","RelationshipSatisfaction","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsSinceLastPromotion"]]
df2["Attrition_code"]= df["Attrition"].astype('category').cat.codes
df2.head()

C:\Users\joost\AppData\Local\Temp\ipykernel_10228\1404598033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Attrition_code"]= df["Attrition"].astype('category').cat.codes

,Education,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,Attrition_code
0,2,1,8,0,1,6,0,1
1,1,4,10,3,3,10,1,0
2,2,2,7,3,3,0,0,1
3,4,3,8,3,3,8,3,0
4,1,4,6,3,3,2,2,0

Ik heb gekozen voor de dataset rondom het voorspellen van de employee attirition. Voor de independent variabele heb ik gekozen voor.
- Education
- RelationshipSatisfaction
- TotalWorkingYears
- TrainingTimesLastYear
- WorkLifeBalance
- YearsAtCompany
- YearsSinceLastPromotion

Verder heb ik de lege cellen verwijderd voor het schoonmaken van de data.

Attrition_code: 1 == yes, 0 == no

In [4]:
from sklearn.preprocessing import normalize 

X = df2[["Education","RelationshipSatisfaction","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsSinceLastPromotion"]]
X = normalize(X)
y = df2['Attrition_code']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=1)

In [5]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)
knn = knn.fit(X_train, y_train) 
knn.score(X_test, y_test)

c:\Users\joost\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8221574344023324

In [6]:
from sklearn.metrics import confusion_matrix
y_test_pred = knn.predict(X_test)
cm = confusion_matrix(y_test, y_test_pred)
cm

c:\Users\joost\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array([[838,  27],
       [156,   8]], dtype=int64)

In [7]:
conf_matrix = pd.DataFrame(cm, index=['Yes', 'No'], columns = ['Yes_p', 'No_p']) 
conf_matrix

     Yes_p  No_p
Yes    838    27
No     156     8

In [8]:
accuracy = (838+8)/(838+27+156+8)
precision_yes = 838/(838+165)
precision_no = 8/(8+27)
recall_yes = 838/(838+27)
recall_no = 8/(8+156)

print("accuracy is",accuracy)
print("precision_yes is",precision_yes)
print("precision_no is",precision_no)
print("recall_yes is",recall_yes)
print("recall_no is",recall_no)

accuracy is 0.8221574344023324
precision_yes is 0.8354935194416749
precision_no is 0.22857142857142856
recall_yes is 0.96878612716763
recall_no is 0.04878048780487805

Wat betreft het voorspellen van de attritions voor Yes liggen de waarde hoog (rond de 80%). Echter worden de No attritions niet goed voorspelt, maar zo'n 20% correct met een recal van wel 4 procent.

In [11]:
rf = RandomForestClassifier(random_state=1, n_estimators=100) #RF is a random algorithm, so to get the same results we need to use random_state
rf = rf.fit(X_train, y_train)

De laatste stuk code bevat random forest waarbij aan het einde van de code de resultaten van randomforest worden vergeleken met K-nearest Neighbor.

In [12]:
y_pred = rf.predict(X_test) #the predicted values
cm = confusion_matrix(y_test, y_pred) #creates a "confusion matrix"
cm = pd.DataFrame(cm, index=['no fraud (actual)', 'fraud (actual)'], columns = ['no fraud (pred)', 'fraud (pred)']) #label and make df
cm

                   no fraud (pred)  fraud (pred)
no fraud (actual)              839            26
fraud (actual)                 147            17

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

print("accuracy is",accuracy)
print("precision_yes is",precision_yes)
print("precision_no is",precision_no)
print("recall_yes is",recall_yes)
print("recall_no is",recall_no)

              precision    recall  f1-score   support

           0       0.85      0.97      0.91       865
           1       0.40      0.10      0.16       164

    accuracy                           0.83      1029
   macro avg       0.62      0.54      0.54      1029
weighted avg       0.78      0.83      0.79      1029

accuracy is 0.8221574344023324
precision_yes is 0.8354935194416749
precision_no is 0.22857142857142856
recall_yes is 0.96878612716763
recall_no is 0.04878048780487805

Als we de twee methodieke vergelijken zien we dat de resultaten redelijk ver va elkaar af liggen. Random forest is aanzienlijk beter in het voorspellen van de waarde "Nee". Verder zijn de resultaten van nearest neighbor niet goed. Dit omdat zo'n 80% van de variabele Ja toont als resultaat. Deze waarde is bijna gelijk aan precision_yes van het kn model. Daarbij is precision_no ook bijna gelijk aan 20%. Als men de resultaten zou gokken dat zou dit ook ongeveer de resultaten zijn. Hierbij is dus aan te merken dat de data set erg beperkt is voor het toepassen van k nearest neighbor. Tot slot is random forest het beter model voor het voorspellen van deze variabele.